body {
  margin: 30px;
}

p {
  color: black;
}

img {
  float: left;
  padding-right: 10px;
}

.left {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.right {
  float: right;
  width: 300px;
  margin-left: 100px;
}

.center {
  width: 300px;
  margin-left: 300px;
  margin-right: 300px;
}

